In [ ]:
# В переменную с именем subset_1 сохраните только первые 10 строк и только 1 и 3 колонку.
# В переменную с именем subset_2 сохраните все строки кроме 1 и 5 и только 2 и 4 колонку.

In [1]:
import pandas as pd
import numpy as np

In [3]:
my_stat = pd.read_csv('../../../resources/my_stat.csv')
my_stat.head()

   V1    V2 V3   V4
0   2  13.0  B  1.0
1  -1   7.0  B  1.0
2   0  11.0  A  0.0
3   2  11.0  A  2.0
4   0  10.0  B -1.0

In [6]:
subset_1 = my_stat.iloc[:10, [0, 2]]
subset_1.head()

   V1 V3
0   2  B
1  -1  B
2   0  A
3   2  A
4   0  B