In [1]:
# В переменную subset_1 сохраните только те наблюдения, у которых значения переменной V1  строго больше 0, 
# и значение переменной V3  равняется 'A'.
# В переменную  subset_2  сохраните только те наблюдения, у которых значения переменной V2  не равняются 10, 
# или значения переменной V4 больше или равно 1.

In [2]:
import pandas as pd
import numpy as np

In [3]:
my_stat = pd.read_csv('../../../resources/my_stat.csv')
my_stat.head()

   V1    V2 V3   V4
0   2  13.0  B  1.0
1  -1   7.0  B  1.0
2   0  11.0  A  0.0
3   2  11.0  A  2.0
4   0  10.0  B -1.0

In [5]:
subset_1 = my_stat[(my_stat.V1 > 0) & (my_stat.V3 == 'A')]
subset_1.head()

    V1    V2 V3   V4
3    2  11.0  A  2.0
5    2  11.0  A  0.0
7    1   9.0  A  1.0
10   1  10.0  A  1.0
13   1  12.0  A  3.0

In [ ]:
subset_1.head()