In [1]:
# Для данных my_stat рассчитайте среднее значение переменной session_value для каждой группы (переменная group), 
# в получившемся dataframe  переменная group не должна превратиться в индекс. Также переименуйте колонку со 
# средним значением session_value в mean_session_value

In [2]:
import pandas as pd
import numpy as np

In [3]:
my_stat = pd.read_csv('../../../resources/my_stat_1.csv')
my_stat.head()

   session_value  time group  n_users
0            0.0    12     B        9
1            NaN    11     A       -1
2            1.0     8     A        1
3            2.0     9     B        3
4            2.0    10     B        9

In [5]:
mean_session_value_data = my_stat.groupby('group', as_index=False).agg({'session_value': 'mean'}) \
    .rename(columns={'session_value': 'mean_session_value'})
mean_session_value_data

  group  mean_session_value
0     A                 1.0
1     B                 1.0