In [1]:
# В переменной session_value замените все пропущенные значения на нули.
# В переменной n_users замените все отрицательные значения на медианное значение переменной n_users 
# (без учета отрицательных значений, разумеется).

In [2]:
import pandas as pd
import numpy as np

In [3]:
my_stat = pd.read_csv('../../../resources/my_stat_1.csv')
my_stat.head()

   session_value  time group  n_users
0            0.0    12     B        9
1            NaN    11     A       -1
2            1.0     8     A        1
3            2.0     9     B        3
4            2.0    10     B        9

In [4]:
my_stat.session_value.fillna(0, inplace=True)
my_stat.loc[my_stat.n_users < 0, 'n_users'] = my_stat.n_users.median()
my_stat.head()

   session_value  time group  n_users
0            0.0    12     B      9.0
1            0.0    11     A      3.5
2            1.0     8     A      1.0
3            2.0     9     B      3.0
4            2.0    10     B      9.0